.total-balance {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1rem; // gap-4
    border-radius: 0.75rem; // rounded-xl
    border: 1px solid #E5E7EB; // border-gray-200
    padding: 1rem; // p-4
    box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.1); // shadow-chart
  
    @media (min-width: 640px) { // sm
      gap: 1.5rem; // gap-6
      padding: 1.5rem; // p-6
    }
  }
  
  .total-balance-chart {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 100px;
    align-items: center;
  
    @media (min-width: 640px) { // sm
      max-width: 120px;
    }
  }
  
  .total-balance-label {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500; // font-medium
    color: #4B5563; // text-gray-600
  }
  
  .total-balance-amount {
    font-size: 24px;
    line-height: 30px;
    flex: 1;
    font-weight: 600; // font-semibold
    color: #111827; // text-gray-900
  
    @media (min-width: 1024px) { // lg
      font-size: 30px;
      line-height: 38px;
    }
  }
  
  .recent-transactions {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1.5rem; // gap-6
  }

.user-info-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.user-balance-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user-balance-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}